# System kontroli wersji
.git
.gitignore

# Zależności i foldery budowania
node_modules/
dist/
build/
.next/
.nuxt/

# Logi błędów
npm-debug.log
yarn-error.log
yarn-debug.log
*.log

# Lokalne pliki środowiskowe (bezpieczeństwo!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Pliki środowisk IDE
.idea/
.vscode/

# Pliki systemowe
.DS_Store
Thumbs.db
